<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Brad01</display-name>
    <servlet-name>Brad01</servlet-name>
    <servlet-class>tw.brad.tutor.Brad01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad01</servlet-name>
    <url-pattern>/Brad01</url-pattern>
  </servlet-mapping>
  <display-name>BradWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Brad03</display-name>
    <servlet-name>Brad03</servlet-name>
    <servlet-class>tw.brad.tutor.Brad03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad03</servlet-name>
    <url-pattern>/Brad03</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad04</display-name>
    <servlet-name>Brad04</servlet-name>
    <servlet-class>tw.brad.tutor.Brad04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad04</servlet-name>
    <url-pattern>/Brad04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad05</display-name>
    <servlet-name>Brad05</servlet-name>
    <servlet-class>tw.brad.tutor.Brad05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad05</servlet-name>
    <url-pattern>/Brad05</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad07</display-name>
    <servlet-name>Brad07</servlet-name>
    <servlet-class>tw.brad.tutor.Brad07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad07</servlet-name>
    <url-pattern>/Brad07</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bard08</display-name>
    <servlet-name>Bard08</servlet-name>
    <servlet-class>tw.brad.tutor.Bard08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bard08</servlet-name>
    <url-pattern>/Bard08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad08</display-name>
    <servlet-name>Brad08</servlet-name>
    <servlet-class>tw.brad.tutor.Brad08</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad08</servlet-name>
    <url-pattern>/Brad08</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad09</display-name>
    <servlet-name>Brad09</servlet-name>
    <servlet-class>tw.brad.tutor.Brad09</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad09</servlet-name>
    <url-pattern>/Brad09</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad10</display-name>
    <servlet-name>Brad10</servlet-name>
    <servlet-class>tw.brad.tutor.Brad10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad10</servlet-name>
    <url-pattern>/Brad10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad11</display-name>
    <servlet-name>Brad11</servlet-name>
    <servlet-class>tw.brad.tutor.Brad11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad11</servlet-name>
    <url-pattern>/Brad11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad12</display-name>
    <servlet-name>Brad12</servlet-name>
    <servlet-class>tw.brad.tutor.Brad12</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad12</servlet-name>
    <url-pattern>/Brad12</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad13</display-name>
    <servlet-name>Brad13</servlet-name>
    <servlet-class>tw.brad.tutor.Brad13</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad13</servlet-name>
    <url-pattern>/Brad13</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad14</display-name>
    <servlet-name>Brad14</servlet-name>
    <servlet-class>tw.brad.tutor.Brad14</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad14</servlet-name>
    <url-pattern>/Brad14</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad15</display-name>
    <servlet-name>Brad15</servlet-name>
    <servlet-class>tw.brad.tutor.Brad15</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad15</servlet-name>
    <url-pattern>/Brad15</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad16</display-name>
    <servlet-name>Brad16</servlet-name>
    <servlet-class>tw.brad.tutor.Brad16</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad16</servlet-name>
    <url-pattern>/Brad16</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad17</display-name>
    <servlet-name>Brad17</servlet-name>
    <servlet-class>tw.brad.tutor.Brad17</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad17</servlet-name>
    <url-pattern>/Brad17</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad18C</display-name>
    <servlet-name>Brad18C</servlet-name>
    <servlet-class>tw.brad.tutor.Brad18C</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad18C</servlet-name>
    <url-pattern>/Brad18C</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad19</display-name>
    <servlet-name>Brad19</servlet-name>
    <servlet-class>tw.brad.tutor.Brad19</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad19</servlet-name>
    <url-pattern>/Brad19</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brad20V</display-name>
    <servlet-name>Brad20V</servlet-name>
    <servlet-class>tw.brad.tutor.Brad20V</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brad20V</servlet-name>
    <url-pattern>/Brad20V</url-pattern>
  </servlet-mapping>
</web-app>